.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30em;
    font-family: "Stack Sans Notch", sans-serif;
    font-style: normal;
    font-size: 30px;
}

