body {
    margin: 0%;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30em;
    font-family: "Stack Sans Notch", sans-serif;
    font-style: normal;
    font-size: 30px;
    color:#528264;
   background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(176, 255, 208, 1) 0%, rgba(255, 244, 148, 1) 100%);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: 10em;
    margin-top: 10em;
}

.skills, .profile, .contact-me {
    font-family: sans-serif;
}

.profile > img {
  margin-top: 2em;
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    column-gap: 1rem;
    }

    .codephoto > img, .drawingphoto > img {
        width: 15em;
        height: 15em;

    }
    hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    }

    .contact-me {
        text-align: center;
        margin-bottom: 5rem;
         display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .plugs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1em;
    }

    footer {
        height: 25vh;
        background: #629e79;
        font-family: sans-serif;
    }

    div > p {
        color:rgb(68, 60, 60);
    }

    .btn {
        background-color:#629e79;
        color: white;
        padding: .3em;
        border-radius: 25px;
        text-decoration-line: none;
    }